# Build directories
build
dist
out
reports
/bin
target

# Mac OS X custom attribute files
.DS_Store

# Windows thumbnails
Thumbs.db

# IntelliJ project files
*.i[mpw][lrs]
.idea

# Jython package cache and compiled files
lib/cachedir
*$py.class
