# This file is a template for the .env file that should be created in the same directory

# Secret key for JWT. Generate a new random key using: openssl rand -hex 32
JWT_SECRET=LONG_RANDOM_STRING_HERE

# The data store to use. Options: file, s3
DATA_STORE=file

# AWS S3 configuration when using the S3 data store
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_S3_BUCKET=your_bucket
AWS_S3_ENDPOINT=s3.us-east-2.amazonaws.com
AWS_S3_ASSETS_URL=https://your_bucket.s3.us-east-2.amazonaws.com/users

# For sending transactional emails, like password reset
SMTP_HOST=your_smtp_host
SMTP_PORT=587
SMTP_SECURE=true
SMTP_USERNAME=your_smtp_user
SMTP_PASSWORD=your_smtp_password
