<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>ndbx</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>nodeboxfile.icns</string>
        <key>CFBundleTypeName</key>
        <string>NodeBox Document</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>net.nodebox.ndbx</string>
        </array>
      </dict>
    </array>
    <key>UTExportedTypeDeclarations</key>
    <array>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>net.nodebox.ndbx</string>
        <key>UTTypeDescription</key>
        <string>NodeBox Document</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.xml</string>
          <string>public.data</string>
        </array>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>ndbx</string>
          </array>
        </dict>
      </dict>
    </array>
    <key>CFBundleExecutable</key>
    <string>NodeBox</string>
    <key>CFBundleIconFile</key>
    <string>nodebox.icns</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>NodeBox</string>
    <key>CFBundleDisplayName</key>
    <string>NodeBox</string>
    <key>CFBundleIdentifier</key>
    <string>be.emrg.nodebox</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>ndbx</string>
    <key>CFBundleGetInfoString</key>
    <string>@@VERSION@@, Copyright EMRG</string>
    <key>CFBundleShortVersionString</key>
    <string>@@VERSION@@</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSHighResolutionCapable</key>
    <true/>
  </dict>
</plist>
