<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>ndbx</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>nodeboxfile.icns</string>
        <key>CFBundleTypeName</key>
        <string>NodeBox Document</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
      </dict>
    </array>
    <key>CFBundleExecutable</key>
    <string>NodeBox</string>
    <key>CFBundleIconFile</key>
    <string>nodebox.icns</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>NodeBox</string>
    <key>CFBundleDisplayName</key>
    <string>NodeBox</string>
    <key>CFBundleIdentifier</key>
    <string>be.emrg.nodebox</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>ndbx</string>
    <key>CFBundleGetInfoString</key>
    <string>@@VERSION@@, Copyright EMRG, (c) 2004-2013</string>
    <key>CFBundleShortVersionString</key>
    <string>@@VERSION@@</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>Java</key>
    <dict>
      <key>ClassPath</key>
      <string>$APP_PACKAGE/Contents/Resources/Java/lib/nodebox.jar</string>
      <key>JVMVersion</key>
      <string>1.6+</string>
      <key>MainClass</key>
      <string>nodebox.client.Application</string>
      <key>Properties</key>
      <dict>
        <key>com.apple.mrj.application.live-resize</key>
        <string>false</string>
        <key>apple.laf.useScreenMenuBar</key>
        <string>true</string>
        <key>com.apple.mrj.application.apple.menu.about.name</key>
        <string>NodeBox</string>
        <key>apple.awt.graphics.UseQuartz</key>
        <string>false</string>
      </dict>
      <key>VMOptions</key>
      <string>-Xms1024m -Xmx4096m</string>
      <key>WorkingDirectory</key>
      <string>$APP_PACKAGE/Contents/Resources/Java</string>
   </dict>
  </dict>
</plist>
